.taskBox {
  width: 80%;
  background: #ffffff;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.lineBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.lineBox p {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #414141;
}

.lineBox button {
  height: fit-content;
}
.hashtag {
  background: #356d7e97;
  border-radius: 15px;
  width: fit-content;
  margin-left: 1rem;
}

.hashtag p {
  padding: 0.5rem 1rem;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  color: #ffffff;
}
